<div class="container mt-1">

    <div class="row">
        <div class="col-md-2 m-1" >
            
            



            <div class="accordion" id="accordionPanelsStayOpenExample">
              
                <div class="accordion-item mb-2">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" id="fondo" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Transmicion
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      
                    </div>
                  </div>
                </div>
              
            </div>








        </div>
        <div class="col m-1">
            <div class="row">

              
                  <div *ngFor="let vehiculo of VehiculosDos.data" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/110879.jpg" class="img-thumbnail" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
                              <div class="row">
                            <div class="col-12 text-truncate">
                              {{  vehiculo.Modelo.Marca.nombre_marca }}
                            </div>
                          </div></h5>
                          <p class="card-text">
                            <span class="d-inline-block text-truncate" style="max-width: 100%;">
                                PropiedadUno : Valor
                            </span>
                            <span class="d-inline-block text-truncate" style="max-width: 100%;">
                                PropiedadUno : Valor
                            </span>
                            <span class="d-inline-block text-truncate" style="max-width: 100%;">
                                PropiedadUno : Valor
                            </span>
                          </p>
                          <div class="d-grid gap-2">
                            <button class="btn" id="fondo" type="button" [routerLink]="['../detalles/vehiculo/', vehiculo.id]">Ver</button>
                          </div>
                        </div>
                    </div>
                </div>
              
              
                
            </div>
        </div>
    </div>
</div>