  <div  class="offcanvas offcanvas-start text-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div id="canvasOff1" class="offcanvas-header">
      <h5 class="offcanvas-title " id="offcanvasExampleLabel">Menu Lateral</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="canvasOff2" class="offcanvas-body text-dark">
      <div>
        <img src="../../assets/img/user.png" class="img-thumbnail" alt="...">
      </div>
      <div class="text-center m-5" *ngIf="Username">
        Bienvendio: {{ Username }}
      </div>
      <div *ngIf="!UserActivo">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-dark" type="button" routerLink="../login">Iniciar Sesion</button>
          <button class="btn btn-outline-dark" type="button" routerLink="../registrar">Registrarse</button>
        </div>
      </div>

      <div *ngIf="UserActivo">
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" routerLink="../registrar" (click)="sesionCerrar()">Cerrar Sesion</button>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-outline-dark" type="button" [routerLink]="['../carrito-compra/', UserId]">Carrito De Compras</button>
        </div>
      </div>



    </div>
  </div>
  {{setDatos()}}

